@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainLayout {
  min-height: 100vh;
  background: transparent; 
  position: relative;
  z-index: 1;
}

